ipython>=8.10
jupyterlab>=3.0
notebook
ipywidgets
pandas
numpy
matplotlib
scikit-learn
missingno
shap
holidays
plotly
pyarrow
fastparquet
xgboost
optuna
mapie
pytorch_forecasting
tensorboard
kedro~=0.19.12
